.infoSection {

    display: block;    
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(0,0,0,0.7);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    z-index: 999;
    font-weight: 700;

}

.bottomControls {

    display: block;    
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 100px;
    margin: 0 auto;
    background: rgba(0,0,0,0.7);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 20px 20px;
    border-radius: 10px;
    z-index: 999;
    color: #fff;

}

.bottomControls .currentScene {

    display: block;    
    margin: 0 auto;
    text-align: center;

}

.bottomControls .previous img, .bottomControls .next img {

    display: block;
    width: 22px;
    height: 22px;
    z-index: 1014;
    position: relative;
    opacity: 1;

}

.bottomControls .previous {

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    border: none;

}

.bottomControls .next {

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    border: none;

}

.bottomControls .previous, .bottomControls .next {

    cursor: pointer;

}

.bottomControls .previous.lowerOpacity, .bottomControls .next.lowerOpacity {

    opacity: 0.5;

}

/* CLOSE BTN */

.closeBtn {

    position: absolute;
    display: block;    
    top: 20px;
    right: 20px;
    background: rgba(0,0,0,0.7);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 8px;
    border-radius: 10px;
    border: none;
    z-index: 999;
    color: #fff;
    background-size: cover;

}

.closeBtn img {

    display: block;
    width: 22px;
    height: 22px;
    z-index: 1014;
    position: relative;
    opacity: 1;

}

.soundBtn {

    position: absolute;
    display: block;    
    top: 20px;
    left: 140px;
    background: rgba(0,0,0,0.7);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 8px;
    border-radius: 10px;
    border: none;
    z-index: 999;
    color: #fff;
    background-size: cover;

}

.soundBtn img {

    display: block;
    width: 22px;
    height: 22px;
    z-index: 1014;
    position: relative;
    opacity: 1;

}

button {



}