body .productWrapper {

    overflow: auto;
    padding: 30px 0;

}

body .product {

    width: 33.3%;
    float: left;

}

body .product h3 {

    

}

body .product img {

    width: 300px;
    display: inline-block;

}

body .emptyButton {

    
    margin-block-end: 1em;

}

