body .productWrapper {

    overflow: auto;
    padding: 30px 0;

}

body .product {

    width: 33.3%;
    float: left;

}

body .product img {

    width: 300px;
    display: inline-block;

}

body .emptyButton {

    
    margin-block-end: 1em;

}

/* RESPONSIVE */

@media only screen and (max-width: 1080px) {

    body .product {

        width: 100%;
        margin: 60px 0;
        float: none;
    
    }

    body .product img {

        width: 100%;
        max-width: 450px;

    }

}    