.content {

    overflow: auto;
    padding: 50px 0;

}

.leftSide {

    width: 40%;
    float: left;

}

.leftSide a {

    margin-top: 20px;
    display: inline-block;
    font-size: 18px;
    text-decoration: underline;
    transition: all 0.2 ease;

}

.leftSide a:hover {

    color: rgb(40, 0, 170);

}

.rightSide {

    width: 60%;
    float: left;
    padding-left: 40px;

}

.rightSide p {

    line-height: 180%;
    width: 75%;

}

.rightSide .filledButton {

    display: inline-block;
    margin-top: 20px;

}

/* RESPONSIVE */

@media only screen and (max-width: 1080px) {

    .rightSide, .leftSide {

        width: 100%;
        float: none;
        padding-left: 0px;
    
    }

    .rightSide {

        padding-bottom: 30px;

    }

}