* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    position: relative;

}

h1 {

    font-size: 56px;

}

a {

    text-decoration: none;
    color: #3D00FF;

}

ul {

    list-style: none;

}

header {

    background: #f2f2f2;
    padding: 9px 13px;
    overflow: auto;

}

header a {

    color: #333333;

}

header a.logo {

    margin-block-start: 1em;
    margin-block-end: 1em;
    display: block;
    float: left;
    font-size: 19px;
    font-weight: 600;

}

header ul {

    float: right;

}

body .content {

    display: block;
    max-width: 1170px;
    width: 95%;
    margin: 0 auto;

}

body .emptyButton {

    border: 2px solid #3D00FF;
    color: #3D00FF;
    padding: 10px 35px;
    display: inline-block;
    transition: all 0.2s ease;

}

body .emptyButton:hover {

    border: 2px solid #3D00FF;
    background: #3D00FF;
    color: #fff;

}

body .filledButton {

    background: #3D00FF;
    color: #fff;
    padding: 10px 35px;
    transition: all 0.2s ease;

}

body .filledButton:hover {

    background: rgb(40, 0, 170);

}

footer {

    background: #f2f2f2;
    padding: 8px 13px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}