h1::before {

    display: none;

}

.content {

    text-align: center;

}

.content p {

    width: 60%;
    margin: 0 auto;
    line-height: 180%;

}

.content a {

    display: inline-block;
    margin-top: 30px;

}

@media only screen and (max-width: 1080px) {

    

    .content p {

        width: 85%;
    
    }    

}